*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}
body {
  font-family: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  font-feature-settings: "cv03", "cv04", "cv11";
  font-size: 14px;
  font-weight: 400;
  background-color: #F1F5F9;
  color: #1D273B;
}
h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
h2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}
h4 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
}
h5 {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
}
h6 {
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1rem;
}
header h6 {
  color: #667382;
  letter-spacing: 0.04rem;
}
section > h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
section > h2 {
  margin-top: 1.75rem;
  margin-bottom: 1rem;
}
section > h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
section > h4 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
section > h5 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
section > h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
card > h1,
card > h2,
card > h3,
card > h4,
card > h5,
card > h6 {
  margin-bottom: 1rem;
}
p {
  line-height: 1.5rem;
}
hr {
  height: 1px;
  background-color: #E6E7E9;
  border: none;
  margin: 0 -1.5rem;
  margin-bottom: 1rem;
}
img {
  height: auto;
  max-width: 100%;
}
section {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 80rem;
}
p {
  margin: 0 0 1rem;
}
p:last-child {
  margin: 0;
}
header {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 1.75rem;
  margin-bottom: 1rem;
  padding: 0 1.5rem;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header div:not(:only-of-type):last-child * {
  margin-left: 0.5rem;
}
section header {
  margin-top: 0;
  padding: 0;
}
grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
card grid {
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
[col] {
  padding: 0.5rem;
}
@media only screen {
  [col] {
    width: 100%;
  }
}
@media only screen and (min-width: 500px) {
  [col="1/5"] {
    width: 50%;
  }
}
@media only screen and (min-width: 1000px) {
  [col="1/5"] {
    width: 20%;
  }
}
@media only screen and (min-width: 500px) {
  [col="1/4"] {
    width: 50%;
  }
}
@media only screen and (min-width: 1000px) {
  [col="1/4"] {
    width: 25%;
  }
}
@media only screen and (min-width: 500px) {
  [col="1/3"] {
    width: 50%;
  }
  [col="1/3"]:last-child {
    width: 100%;
  }
}
@media only screen and (min-width: 900px) {
  [col="1/3"] {
    width: 33.33%;
  }
  [col="1/3"]:last-child {
    width: 33.33%;
  }
}
@media only screen and (min-width: 500px) {
  [col="1/2"] {
    width: 50%;
  }
}
section > card {
  margin-bottom: 1rem;
}
card {
  padding: 1rem 1.5rem;
  border: 1px solid #e6e7e9;
  border-radius: 4px;
  background: #fff;
  display: block;
  height: 100%;
}
card:has(img) {
  height: auto;
}
card > img {
  display: block;
  margin: 0 0 1rem -1.5rem;
  width: calc(100% + 3rem);
  max-width: none;
}
card > img:first-child {
  margin: -1rem 0 1rem -1.5rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
card > img:last-child {
  margin: 0 0 -1rem -1.5rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
card > img:only-child {
  margin: -1rem 0 -1rem -1.5rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #667382;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Inter-Thin.woff2?v=3.19") format("woff2"), url("../fonts/Inter-Thin.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Inter-ThinItalic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-ThinItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLight.woff2?v=3.19") format("woff2"), url("../fonts/Inter-ExtraLight.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2?v=3.19") format("woff2"), url("../fonts/Inter-Light.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-LightItalic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-LightItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2?v=3.19") format("woff2"), url("../fonts/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Italic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-Italic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2?v=3.19") format("woff2"), url("../fonts/Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-MediumItalic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-MediumItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"), url("../fonts/Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2?v=3.19") format("woff2"), url("../fonts/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-BoldItalic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-BoldItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2?v=3.19") format("woff2"), url("../fonts/Inter-ExtraBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2?v=3.19") format("woff2"), url("../fonts/Inter-Black.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-BlackItalic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-BlackItalic.woff?v=3.19") format("woff");
}
/* -------------------------------------------------------
  Variable font.
  Usage:
  
    html { font-family: 'Inter', sans-serif; }
    @supports (font-variation-settings: normal) {
      html { font-family: 'Inter var', sans-serif; }
    }
  */
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("../fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("../fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}
/* --------------------------------------------------------------------------
  [EXPERIMENTAL] Multi-axis, single variable font.
  
  Slant axis is not yet widely supported (as of February 2019) and thus this
  multi-axis single variable font is opt-in rather than the default.
  
  When using this, you will probably need to set font-variation-settings
  explicitly, e.g.
  
    * { font-variation-settings: "slnt" 0deg }
    .italic { font-variation-settings: "slnt" 10deg }
  
  */
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../fonts/Inter.var.woff2?v=3.19") format("woff2");
}
a:not([class]) {
  text-decoration: none;
  color: #206BC4;
}
a:not([class]):hover {
  text-decoration: underline;
  color: #1d60b0;
  cursor: pointer;
}
button:not([class]),
input[type="submit"],
a[role="button"],
.btn-blue {
  display: inline-block;
  height: auto;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0.65rem 1rem;
  background: #206bc4;
  color: #f8fafc;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
}
button:not([class]):not(:disabled):hover,
input[type="submit"]:not(:disabled):hover,
a[role="button"]:not(:disabled):hover,
.btn-blue:not(:disabled):hover {
  cursor: pointer;
  background: #1c5fae;
}
.btn-white {
  display: inline-block;
  height: auto;
  line-height: normal;
  border: 1px solid #e6e7e9;
  border-radius: 4px;
  padding: 0.65rem 1rem;
  background: #fff;
  color: #1D273B;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
}
.btn-white:not(:disabled):hover {
  cursor: pointer;
  border-color: #b3b7bd;
}
input,
select {
  height: 2.454rem;
  line-height: normal;
  border: 1px solid #e6e7e9;
  border-radius: 4px;
  box-sizing: border-box;
}
input::placeholder,
select::placeholder {
  color: #929DB5;
}
input:focus,
select:focus {
  border-color: #90b5e2;
  outline: 0;
  box-shadow: 0 0 transparent, 0 0 0 0.25rem rgba(32, 107, 196, 0.25);
}
input[type="search"] {
  background: url("../icons/search.svg") no-repeat;
  background-color: #fff;
  background-position: 0.5rem;
  background-size: 1.25rem;
  padding-left: 2.5rem;
  padding-right: 0.5rem;
}
input[type=text],
input[type=email],
input[type=password],
select {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
/* checkbox */
input[type=checkbox] {
  display: inline-block;
  border-radius: 4px;
  background-size: 1.25rem;
  /* margin-top: 0; */
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: top;
  appearance: none;
  background-color: #ffffff;
  background-position: center;
}
input[type=checkbox]:checked {
  background-color: #206bc4;
  background-image: url('../icons/check.svg');
}
input[type="submit"] {
  border: 1px solid transparent;
  outline: none;
  box-shadow: none;
}
/* select/dropdown */
select {
  appearance: none;
  background: url("../icons/chevron-down.svg") no-repeat;
  background-position: right 0.5rem center;
  background-size: 16px;
  padding-right: 2.25rem;
}
code {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  text-transform: none;
  display: inline-block;
  border-radius: 4px;
  border: 0px solid #F6F8FB;
  background: #F6F8FB;
  color: #667382;
  padding: 0 0.5rem;
  white-space: pre-wrap;
}
pre code {
  display: block;
  width: 100%;
  border: 1px solid #182433;
  background: #182433;
  color: #FCFDFE;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
}
/* width */
::-webkit-scrollbar {
  width: 17px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 17px 17px #F1F5F9;
  border: solid 5px transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 17px 17px #ADB3BC;
  border: solid 5px transparent;
  border-radius: 1rem;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 17px 17px #CFD4DA;
}
/* generic class for positioning element at the top at all times - primarily used for navbar */
.sticky {
  position: sticky;
  top: 0;
}
/* nav */
nav {
  width: 100%;
  height: 3.5rem;
  margin: 0;
  padding: 0;
  background: #fff;
  border-bottom: 1px solid #E6E7E9;
  position: relative;
  z-index: 10000;
}
/* sticky nav */
/* nav-box wrapper */
nav-box {
  max-width: 80rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav li {
  line-height: 0;
}
/* right aligned <ul> element */
nav ul:not(:only-of-type):last-child li {
  padding-left: 0.5rem;
}
.hamburger {
  padding-right: 0.25rem;
  color: #206BC4;
  cursor: pointer;
}
/* custom class - title */
.title {
  color: #206BC4;
}
/* custom class - logo */
.logo {
  display: inline-block;
  width: 2.15rem;
  height: 2.15rem;
  margin-right: 0.5rem;
  background-size: contain;
}
/* custom class - toggle */
.toggle-dark-mode {
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-size: contain;
}
/* custom class - profile */
.profile {
  display: inline-block;
  line-height: normal;
  width: 2.454rem;
  height: 2.454rem;
  background-size: contain;
  border-radius: 4px;
}
/* custom class - menu */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu li {
  flex: 1;
  background: #fff;
}
.nav-menu a {
  display: flex;
  align-items: center;
  /* width: 100%; */
  height: 2.15rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  white-space: nowrap;
  color: #182433;
}
.nav-menu a:hover {
  text-decoration: none;
}
.nav-menu a:not(:only-child):after {
  content: '▾';
}
/* hover state */
.nav-menu li:hover > ul {
  display: block;
}
/* active state */
.nav-menu li:active > ul {
  display: block;
}
/* sub menu */
.nav-menu li ul {
  flex-direction: column;
  position: absolute;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  display: none;
}
.nav-menu li ul li {
  width: 100%;
  background: #fff;
}
/* media queries */
@media (max-width: 830px) {
  /* general adjustments */
  .nav-menu nav-box {
    padding: 0;
    flex-direction: column;
  }
  .nav-menu ul {
    flex-wrap: wrap;
    border-bottom: 1px solid #E6E7E9;
  }
  .nav-menu li {
    flex: 1 1 50%;
  }
  .nav-menu a {
    justify-content: flex-start;
  }
  .nav-menu a:not(:only-child):after {
    order: 1;
    margin-left: auto;
  }
  /* custom adjustments */
  .nav-menu ul:not(:first-child) {
    /* reverse the order of <ul> elements */
    order: -1;
  }
  .nav-menu ul li {
    padding: 0.65rem;
  }
  .nav-menu ul li input {
    width: 100%;
  }
  .nav-menu ul:first-child {
    /* box-shadow syntax: offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 400px) {
  .nav-menu li {
    flex-basis: 100%;
  }
  /* sub menu */
  .nav-menu li ul {
    position: static;
  }
}
.auth {
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth div:first-child {
  width: 450px;
  /* outline-style:solid;
    outline-color:red;
    outline-width: 1px; */
}
.auth card {
  padding: 2.5rem;
}
/* Div will always distribute the available space between or around the flex items depending on how many children it has.
(Makes it convenient for having left and right elements. Or left, middle, right elements.) */
.auth card div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth h1 {
  text-align: center;
  padding: 0 0 1.5rem 0;
}
.auth h2 {
  text-align: center;
  /* padding: 1.5rem 0 0 0; */
}
.auth p {
  margin-top: 1rem;
  text-align: center;
}
.auth label {
  display: inline-block;
  padding: 1.5rem 0 0.5rem 0;
  font-weight: 500;
  user-select: none;
}
.auth a {
  padding: 1.5rem 0 0.5rem 0;
  font-weight: 500;
}
.auth input:not([type=checkbox]) {
  display: block;
  width: 100%;
}
.auth button {
  width: 100%;
  margin: 1rem 0 0 0;
}
